zwl-calendar {
    display: block;
    border: 1px solid #333;
    width: 500px;
    height: 220px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

zwl-calendar .day-view {
    width: 200px;
    height: 220px;
    float: left;
    font-weight: bold;
}

zwl-calendar .month-view {
    width: 300px;
    height: 220px;
    float: right;
}

zwl-calendar .day-name {
    margin-top: 10px;
}

zwl-calendar .day-number {
    font-size: 100px;
    color: rgba(50, 50, 50, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    margin: 0;
    line-height: 140px;
}

zwl-calendar .month-navigation {
    margin-top: 10px;
    margin-bottom: 20px;
}

zwl-calendar .month-navigation .prev-month,
zwl-calendar .month-navigation .next-month {
    text-decoration: none;
    color: #333;
}

zwl-calendar .month-navigation .prev-month {
    margin-left: 1em;
    float: left;
}

zwl-calendar .month-navigation .next-month {
    margin-right: 1em;
    float: right;
}

zwl-calendar .month-table td.active {
    background: red;
}

zwl-calendar .month-table {
    color: #333;
    text-decoration: none;
    width: 100%;
}

zwl-calendar .month-table a {
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

zwl-calendar .month-table a:hover {
    background: rgba(255, 0, 0, .2);
}

zwl-calendar .month-table .active a {
    color: white;
}
